@model BladeRazorMvcExamples.ViewModels.BladeViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>@Model.DynamicModel.GetType().Name List - Blade</h2>
<form-new-button asp-action="Create" asp-display-icon="false"></form-new-button>
<form-index-mvc asp-for="DynamicList" asp-headers-for="DynamicModel"></form-index-mvc>
