@model BladeRazorMvcExamples.ViewModels.BladeViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.DynamicModel.GetType().Name Details - Blade</h2>
<hr />
<form-details asp-for="DynamicModel"></form-details>
<form-submit-links asp-for="DynamicModel" asp-submit-text="Edit" asp-submit-action="Edit" asp-cancel-action="Index"></form-submit-links>
