@model BladeRazorMvcExamples.ViewModels.BladeViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create @Model.DynamicModel.GetType().Name - Blade</h2>
<hr />
<form-div>
    <form asp-action="Create">
        <form-edit asp-for="@Model.DynamicModel" asp-items="@Model.SelectItems" asp-items-dictionary="@Model.SelectItemsDictionary"></form-edit>
        <form-submit asp-submit-text="Create" asp-cancel-action="Index"></form-submit>
    </form>
</form-div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
