@model BladeRazorMvcExamples.ViewModels.BladeViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit @Model.DynamicModel.GetType().Name - Blade</h2>
<hr />
<form-div>
    <form asp-action="Edit">
        <form-edit asp-for="@Model.DynamicModel" asp-items="@Html.GetEnumSelectList<CustomerType>()"></form-edit>
        <form-submit asp-submit-text="Save" asp-cancel-action="Index"></form-submit>
    </form>
</form-div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
