@*Copyright (c) Brett Lyle Mahon. All rights reserved.
Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.*@
@model BladeRazorMvcExamples.ViewModels.BladeViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete @Model.DynamicModel.GetType().Name - Blade</h2>
<hr />
<form asp-action="Delete">
    <form-details asp-for="DynamicModel"></form-details>
    <form-submit asp-for="DynamicModel" asp-submit-text="Delete" asp-cancel-action="Index" asp-submit-class="btn btn-sm btn-danger mr-1"></form-submit>
</form>

