@*Copyright (c) Brett Lyle Mahon. All rights reserved.
Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.*@

@model BladeRazorMvcExamples.ViewModels.BladeViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>@Model.DynamicModel.GetType().Name List - Blade</h2>
<form-new-button asp-action="Create" asp-display-icon="false"></form-new-button>
<form-index-mvc asp-for="DynamicList" asp-headers-for="DynamicModel"></form-index-mvc>
