@page
@model BladeRazorExamples.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<p>@Model.Anything</p>
<form-details asp-for="Anything"></form-details>
<form-div>
    <form-edit asp-for="Anything"></form-edit>
</form-div>