@*Copyright (c) Brett Lyle Mahon. All rights reserved.
Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.*@

@page
@model BladeRazerExamples.Pages.FormEdit.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Orders - Blade</h2>
<form-new-button asp-page="Create" asp-display-icon="true"></form-new-button>
<form-index asp-for="Order" asp-hide-properties="Notes, ProductCode"></form-index>

