@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Blade for Razor Examples</h1>
</div>
<p>&nbsp;</p>
<div class="row text-center m-0 p-0">
    <div class="col-md-2 mt-3 pr-2 pl-2 p-0">
    </div>
    <div class="col-md-4 mt-3 pr-2 pl-2 p-0">
        <div class="card bg-light" style="width: 100%;">
            <a asp-page="/FormEdit/Customers/Index">
                <div class="card-header bg-dark"><span style="font-size:62px" class="mt-2 oi oi-people text-light" aria-hidden="true"></span>
                <h5 class="card-title text-light mt-2">Customers</h5></div>
            </a>
            <div class="card-body">
                <p class="card-text">
                    View the customers example
                </p>
                <a class="btn btn-dark" asp-page="/FormEdit/Customers/Index">Customers</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-3 pr-2 pl-2 p-0">
        <div class="card bg-light" style="width: 100%;">
            <a asp-page="/FormEdit/Orders/Index">
                <div class="card-header bg-dark"><span style="font-size:62px" class="mt-2 oi oi-cart text-light" aria-hidden="true"></span>
                <h5 class="card-title text-light mt-2">Orders</h5></div>
            </a>
            <div class="card-body">
                <p class="card-text">
                    View the orders example
                </p>
                <a class="btn btn-dark" asp-page="/FormEdit/Orders/Index">Orders</a>
            </div>
        </div>
    </div>


    <div class="col-md-2 mt-3 pr-2 pl-2 p-0">
    </div>
</div>
